<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>
<p> </p>
<div class="card bg-dark text-white">
    <div class="card-header" *ngIf="!grupo.id">Crear Grupo </div>
    <div class="card-header" *ngIf="grupo.id">Editar Grupo </div>

    <div class="card-body">

        <form #grupoForm="ngForm">

            <div class="form-group row">
                <label for="huecos" class="col-form-label col-sm-2">Huecos</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="grupo.huecos" name="huecos"
                        #huecos="ngModel">
                    <div class="alert alert-danger" *ngIf="huecos.invalid && (huecos.dirty || huecos.touched)">
                        <div *ngIf="huecos.errors.required">El numero de huecos es obligatorio</div>
                    </div>
                    <div class="alert alert-danger" *ngIf="grupo.huecos < 0">
                        El numero minimo de huecos es 0
                    </div>
                    <div class="alert alert-danger" *ngIf="grupo.huecos > 12">
                        El numero maximo de huecos es 12
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Horario</label>
                <div class="col-sm-6">
                    <input type="time" class="form-control" [(ngModel)]="grupo.nombre" name="nombre" required
                        #nombre="ngModel">

                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required"> El horario es obligatorio</div>
                    </div>
                </div>

            </div>


            <div class="form-group row">
                <div class="col-sm-6">

                    <button class="btn btn-primary m-2" role="button" (click)='create()'
                        *ngIf="!grupo.id else elseBlock"
                        [disabled]="!grupoForm.form.valid || grupo.huecos < 0 || grupo.huecos > 12 || grupo.huecos.pristine">
                        Crear </button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary m-2" role="button" (click)='update()'
                            [disabled]="!grupoForm.form.valid || grupo.huecos < 0 || grupo.huecos > 12"> Editar
                        </button>
                    </ng-template>

                    <button class="btn btn-outline-light m-2" role="button" routerLink="/grupos">
                        Volver </button>
                </div>
            </div>
        </form>

    </div>
</div>