<div class="container">
  <div class="card-body">
    <h1>Iniciar sesión</h1>
    <p>&nbsp;</p>
    <form class="form">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"> @</span>
        </div>
        <input type="text" class="form-control" placeholder="Usuario" id="usuario"
          [(ngModel)]="usuarioRegistro.username" name="username" #username="ngModel" autofocus required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">P**</span>
        </div>
        <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="usuarioRegistro.password"
          name="constrasenya" #constrasenya="ngModel" required>
      </div>
      <p>&nbsp;</p>

      <button class="btn btn-outline-info" type="submit" id="login-button">Iniciar
        Sesion</button>&nbsp;&nbsp;
      <button class="btn btn-outline-info" type="submit" id="registro-button"
        routerLink="/clientes/form">Registrarme</button>&nbsp;&nbsp;
      <button class="btn btn-outline-info" type="submit" id="continuar-button" routerLink="/grupos2">Seguir sin
        regristrarme</button>
    </form>
  </div>
</div>