<div class="container">
    <h1>Iniciar sesión</h1>
    
    <form class="form">
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>

                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">P***</span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                      </div>

            <button class="btn btn-outline-info" type="submit" id="login-button" (click)='login()'>Login</button>
      
    </form>
  </div>
