<!-- Toolbar -->
<div class="toolbar" role="banner">
    <p><img src="../assets/logo_mono.png" height="80px" width="80px"></p>
    <span>Bienvenido</span>
    <div class="spacer"></div>

</div>
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    

<app-header></app-header>

<span><marquee scrolldelay="300" direction="down">Turno de comidas</marquee></span>



  </div>
  <!-- Resources -->
  <h2>Horarios:</h2>
  <p>Turnos disponibles:</p>


  <div class="card-container">
    <a class="card" href="#" routerLink="/ejemplo">
 
      <span>Otra opcion</span>

      <svg class="material-icons" xmlns="" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a>
    
    <a class="card" href="#" routerLink="/clientes">

      <span>Turno elegido</span>

      <svg class="material-icons" xmlns="" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" href="#" routerLink="/icono-vader">

      <span>Otra opcion</span>

      <svg class="material-icons" xmlns="" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>

    </a>

  </div>

  


</div>
<router-outlet> </router-outlet>
<!-- Footer -->
  <footer>
    <p class="fondo"><img src="../assets/logo_fondo.jpg" Align="right"></p>
  </footer>




