<!-- Toolbar -->
<div class="toolbar" role="banner">
    <p><img src="../assets/logo_mono.png" height="80px" width="80px"></p>
    <span>Bienvenido</span>
    <div class="spacer"></div>

</div>
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    

<app-header></app-header>

<span><marquee scrolldelay="300" direction="down">Turno de comidas</marquee></span>



  </div>
  <!-- Resources -->
  <h2>Horarios:</h2>
  <p>Turnos disponibles:</p>


  <div class="card-container" routerLink="/grupos">
    
    <router-outlet> </router-outlet>

  </div>

  


</div>

<!-- Footer -->
  <footer>
    <p class="fondo"><img src="../assets/logo_fondo.jpg" Align="right"></p>
  </footer>




