<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p><img src="./assets/logo_mono.png" height="80px" width="80px"></p>
  <h2>Bienvenido</h2>
  <div class="spacer"></div>
  <div class="btn-group">
    <button type="button" class="btn btn-outline-light btn-lg " href="#" routerLink="/grupos2">Horarios</button>
    <button type="button" class="btn btn-outline-light btn-lg " href="#" routerLink="/clientes">Usuarios</button>
    <button type="button" class="btn btn-outline-light btn-lg rounded-right" href="#"
      routerLink="/grupos">Grupos</button>
    <button class="btn btn-lg rounded" disabled> </button>
    <button type="button" class="btn btn-outline-light btn-lg rounded" disabled>Descargar horario</button>
  </div>
</div>

<div>

  <router-outlet> </router-outlet>

</div>

<footer>
  <!--  <p class="fondo"><img src="../assets/logo_fondo.jpg" Align="right"></p> -->
</footer>