<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>
<p> </p>
<div class="card bg-dark text-white">
    <div class="card-header" *ngIf="!grupoall.id">Crear Grupo </div>
    <div class="card-header" *ngIf="grupoall.id">Editar Grupo </div>

    <div class="card-body">

        <form #grupoForm="ngForm">

            <div class="form-group row">
                <label for="huecos" class="col-form-label col-sm-2">Huecos</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="grupoall.huecos" name="huecos" required
                        #huecos="ngModel">

                    <div class="alert alert-danger" *ngIf="huecos.invalid">
                        <div *ngIf="huecos.errors.required"> El numero de huecos es obligatorio</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Horario</label>
                <div class="col-sm-6">
                    <input type="time" class="form-control" [(ngModel)]="grupoall.nombre" name="nombre" required
                         #nombre="ngModel">

                    <div class="alert alert-danger" *ngIf="nombre.invalid">
                        <div *ngIf="nombre.errors.required"> El horario es obligatorio</div>

                    </div>
                </div>
            
            </div>
        

            <div class="form-group row">
                <div class="col-sm-6">

                    <button class="btn btn-primary m-2" role="button" (click)='create()'
                        *ngIf="!grupoall.id else elseBlock" [disabled]="!grupoallFormall.form.valid">
                        Crear </button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary m-2" role="button" (click)='update()'
                            [disabled]="!grupoallFormall.form.valid"> Editar </button>
                    </ng-template>

                    <button class="btn btn-outline-light m-2" role="button" routerLink="/gruposall">
                        Volver </button>

                </div>
            </div>
        </form>

    </div>
</div>