/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 4em;
    height: 4em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #050505;
  }
  
  .svg-icon circle {
    stroke: #050505;
    stroke-width: 2;
  }