<p>&nbsp;&nbsp;</p>
<app-subheader></app-subheader>
<div aling="center" class="text-center">
    <div class="card-body text-primary">
        <div *ngIf="clientes?.length==0" class="alert alert-info">
            No hay registros en la base de datos
        </div>
        <div></div>
        <h4 class="card-title">Listado de usuarios</h4>
        <p>&nbsp;</p>
        <div class="table-responsive">
            <table class="table table-striped" *ngIf="clientes?.length>0">
                <thead>
                    <tr>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Nombre de usuario</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Activo</th>
                        <th>Tipo</th>
                        <th>Grupo</th>
                        <th>
                            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
                                Crear Usuario
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombre | uppercase }}</td>
                        <td>{{ cliente.username }}</td>
                        <td>{{ cliente.apellido | uppercase }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.password}}</td>
                        <td>{{ cliente.activo ? "Si" : "No"}}</td>
                        <td>{{ cliente.tipo }}</td>
                        <td>{{ cliente.grupo }}</td>

                        <td>
                            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]"
                                class="btn btn-primary btn-sm">Editar</button>
                            &nbsp;&nbsp;
                            <button type="button" name="eliminar" (click)='delete(cliente)'
                                class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>