<p>&nbsp;&nbsp;</p>
<app-subheader></app-subheader>
<div class="content" role="main">
    <h2>Horarios:</h2>
</div>
<div aling="center" class="text-center">
    <div class="card-body text-primary">
        <div *ngIf="Grupos?.length==0">
            <div class="alert alert-info">No hay registros en la base de datos</div>
        </div>
        <div class="table-responsive">

            <table class="table table-bordered table-responsive-l" *ngIf="Grupos?.length>0">
                <tbody>
                    <tr>
                        <td *ngFor="let grupo of Grupos">
                            <div *ngIf="grupo.id == 0 && grupo.listaUsuarios != null">
                                <h2>Sin apuntar</h2>
                                <div *ngFor="let user of grupo.listaUsuarios">
                                    <div class="text-center">
                                        {{ user.nombre }} {{ user.apellido }}
                                    </div>
                                </div>
                            </div>
                            <div class="first" *ngIf="grupo.id >= 1">
                                <div>
                                    <h2>{{ grupo.nombre }}</h2>
                                </div>
                                <button *ngIf="grupo.huecos >= 4" class="btn btn-success" sng-model="button"
                                    [routerLink]="['/grupos2/form2' , grupo.nombre]">Apuntarme</button>
                                <button *ngIf="grupo.huecos >= 1 && grupo.huecos <= 3" class="btn btn-warning"
                                    sng-model="button"
                                    [routerLink]="['/grupos2/form2' , grupo.nombre]">Apuntarme</button>
                                <button *ngIf="grupo.huecos <= 0" class="btn btn-danger" sng-model="button"
                                    disabled>&nbsp;&nbsp;&nbsp; Lleno &nbsp;&nbsp;&nbsp;</button>
                                <h4>Huecos Libres:</h4>
                                <div class="progress" style="height: 25px; font-size: 15px; color: white;">
                                    <div *ngIf="grupo.huecos >= 10" class="progress-bar progress-bar-striped bg-success"
                                        role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100">{{ grupo.huecos }}</div>
                                    <div *ngIf="grupo.huecos > 6 && grupo.huecos <=9"
                                        class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                        style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        {{ grupo.huecos }}</div>
                                    <div *ngIf="grupo.huecos <= 6 && grupo.huecos >= 4"
                                        class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                        style="width: 45%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        {{ grupo.huecos }}</div>
                                    <div *ngIf="grupo.huecos <   4 && grupo.huecos >= 1"
                                        class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                        style="width: 25%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        {{ grupo.huecos }}</div>
                                    <div *ngIf="grupo.huecos <= 0" class="progress-bar progress-bar-striped bg-danger"
                                        role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100">{{ grupo.huecos }}</div>
                                </div>
                                <div>&nbsp;&nbsp;</div>
                                <div>
                                    <h2 *ngIf="grupo.listaUsuarios.length != 0; else vacio">Participantes:</h2>
                                    <ng-template #vacio>
                                        <h2>No hay participantes</h2>
                                    </ng-template>
                                </div>
                                <div class="text-center" *ngFor="let user of grupo.listaUsuarios">
                                    {{ user.nombre }} {{ user.apellido }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>